@media only screen and (max-width: 300px) {
  body {
    display: none; } }

@media only screen and (max-height: 250px) {
  body {
    display: none; } }

body {
  font-family: 'Lato', sans-serif;
  margin: 0 !important;
  text-align: center; }

.text-xs {
  text-align: center;
  color: #000000;
  display: inline-block;
  cursor: pointer; }

.text-s {
  color: #000000;
  text-align: center; }

.text-sm {
  color: #000000; }

.text-smm {
  color: #000000; }

.text-m {
  margin: 0; }

.text-l {
  text-align: center; }

.text-xl {
  width: 100%;
  text-align: center;
  color: #ffffff; }

.text-xxl {
  width: 100%;
  text-align: center;
  color: #ffffff; }

@media only screen and (min-width: 301px) and (max-width: 400px) {
  .text-xs {
    font-size: 1.6vw; }
  .text-s {
    font-size: 12px;
    margin-top: 4px; }
  .text-smm {
    font-size: 3vw; }
  .text-m {
    font-size: 4vw;
    width: 100%; }
  .text-l {
    font-size: 10vw; }
  .container-xs {
    width: 3vw;
    margin: 0 20vw 0 20vw;
    padding-top: 6vw;
    padding-bottom: 6vw; }
  .container-s {
    width: 92vw;
    margin: 0 4vw 0 4vw;
    padding-top: 6vw;
    padding-bottom: 6vw; }
  .container-m {
    width: 94vw;
    margin: 0 3vw 0 3vw;
    padding-top: 6vw;
    padding-bottom: 6vw; }
  .container-l {
    width: 98vw;
    margin: 0 1vw 0 1vw;
    padding-top: 6vw;
    padding-bottom: 6vw; }
  .container-xl {
    width: 100%; }
  .margin-xs {
    height: 3vw; }
  .margin-s {
    height: 6vw; }
  .margin-m {
    height: 16vw; }
  .margin-l {
    height: 20vw; }
  .margin-xl {
    height: 40vh; } }

@media only screen and (min-width: 401px) and (max-width: 625px) {
  .text-xs {
    font-size: 1.6vw; }
  .text-s {
    font-size: 12px;
    margin-top: 4px; }
  .text-smm {
    font-size: 2.6vw; }
  .text-m {
    font-size: 3.2vw;
    width: 100%; }
  .text-l {
    font-size: 8vw;
    margin: 0 2vw 0 2vw; }
  .container-xs {
    width: 80vw;
    margin: 0 10vw 0 10vw;
    padding-top: 5vw;
    padding-bottom: 5vw; }
  .container-s {
    width: 88vw;
    margin: 0 6vw 0 6vw;
    padding-top: 5vw;
    padding-bottom: 5vw; }
  .container-m {
    width: 88vw;
    margin: 0 6vw 0 6vw;
    padding-top: 5vw;
    padding-bottom: 5vw; }
  .container-l {
    width: 94vw;
    margin: 0 3vw 0 3vw;
    padding-top: 5vw;
    padding-bottom: 5vw; }
  .container-xl {
    width: 100%; }
  .margin-xs {
    height: 2.5vw; }
  .margin-s {
    height: 5vw; }
  .margin-m {
    height: 12vw; }
  .margin-l {
    height: 15vw; }
  .margin-xl {
    height: 36vh; } }

@media only screen and (min-width: 626px) and (max-width: 960px) {
  .text-xs {
    font-size: 1.3vw; }
  .text-s {
    font-size: 12px;
    margin-top: 4px; }
  .text-smm {
    font-size: 1.8vw; }
  .text-m {
    font-size: 2.8vw;
    width: 100%; }
  .text-l {
    font-size: 7vw;
    margin: 0 3vw 0 3vw; }
  .container-xs {
    width: 70vw;
    margin: 0 25vw 0 25vw;
    padding-top: 3vw;
    padding-bottom: 3vw; }
  .container-s {
    width: 84vw;
    margin: 0 8vw 0 8vw;
    padding-top: 3vw;
    padding-bottom: 3vw; }
  .container-m {
    width: 91vw;
    margin: 0 4.5vw 0 4.5vw;
    padding-top: 3vw;
    padding-bottom: 3vw; }
  .container-l {
    width: 94vw;
    margin: 0 3vw 0 3vw;
    padding-top: 3vw;
    padding-bottom: 3vw; }
  .container-xl {
    width: 100%; }
  .margin-xs {
    height: 2vw; }
  .margin-s {
    height: 4vw; }
  .margin-m {
    height: 8vw; }
  .margin-l {
    height: 12vw; }
  .margin-xl {
    height: 20vh; } }

@media only screen and (min-width: 961px) and (max-width: 1440px) {
  .text-xs {
    font-size: 1vw; }
  .text-s {
    font-size: 12px;
    margin-top: 4px; }
  .text-smm {
    font-size: 2vw; }
  .text-m {
    font-size: 2.8vw;
    width: 100%; }
  .text-l {
    font-size: 7vw;
    margin: 0 3vw 0 3vw; }
  .container-xs {
    width: 60vw;
    margin: 0 20vw 0 20vw;
    padding-top: 3vw;
    padding-bottom: 3vw; }
  .container-s {
    width: 80vw;
    margin: 0 10vw 0 10vw;
    padding-top: 3vw;
    padding-bottom: 3vw; }
  .container-m {
    width: 90vw;
    margin: 0 5vw 0 5vw;
    padding-top: 3vw;
    padding-bottom: 3vw; }
  .container-l {
    width: 94vw;
    margin: 0 3vw 0 3vw;
    padding-top: 3vw;
    padding-bottom: 3vw; }
  .container-xl {
    width: 100%; }
  .margin-xs {
    height: 1.5vw; }
  .margin-s {
    height: 3vw; }
  .margin-m {
    height: 8vw; }
  .margin-l {
    height: 10vw; }
  .margin-xl {
    height: 16vh; } }

@media only screen and (min-width: 1441px) {
  .text-xs {
    font-size: 0.8vw; }
  .text-s {
    font-size: 12px;
    margin-top: 4px; }
  .text-smm {
    font-size: 1.4vw; }
  .text-m {
    font-size: 2vw;
    width: 100%; }
  .text-l {
    font-size: 5vw;
    margin: 0 3vw 0 3vw; }
  .container-xs {
    width: 55vw;
    margin: 0 22.5vw 0 22.5vw;
    padding-top: 3vw;
    padding-bottom: 3vw; }
  .container-s {
    width: 75vw;
    margin: 0 12.5vw 0 12.5vw;
    padding-top: 3vw;
    padding-bottom: 3vw; }
  .container-m {
    width: 85vw;
    margin: 0 7.5vw 0 7.5vw;
    padding-top: 3vw;
    padding-bottom: 3vw; }
  .container-l {
    width: 90vw;
    margin: 0 5vw 0 5vw;
    padding-top: 3vw;
    padding-bottom: 3vw; }
  .container-xl {
    width: 100%; }
  .margin-xs {
    height: 1vw; }
  .margin-s {
    height: 1.5vw; }
  .margin-m {
    height: 6vw; }
  .margin-l {
    height: 8vw; }
  .margin-xl {
    height: 10vh; } }

.logo {
  width: 250px;
  position: fixed;
  top: 18px; }

.margin-nav {
  height: 70px;
  width: 100%; }

.nav-search {
  position: fixed;
  cursor: pointer;
  width: 250px;
  height: 32px;
  top: 16px;
  right: 130px;
  border: 3px solid #000000;
  background-color: #ffffff; }
  .nav-search .search-input {
    position: fixed;
    outline: none;
    border: none;
    height: 30px;
    width: 220px;
    font-size: 20px; }
  .nav-search .fa-search {
    padding-top: 6px;
    padding-left: 222px;
    font-size: 20px; }

.nav-background {
  background-color: #ee0000;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 100;
  margin: 0px;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5); }

.hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  margin-left: 15px;
  margin-top: 15px;
  z-index: 101; }

.hamburger-box {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 101; }

.hamburger-inner {
  width: 100%;
  height: 3px;
  left: 0px;
  top: 50%;
  z-index: 101;
  background-color: #ffffff;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: background-color .1s .2s ease-in-out;
  -o-transition: background-color .1s .2s ease-in-out;
  transition: background-color .1s .2s ease-in-out; }

.hamburger-inner::before,
.hamburger-inner::after {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .2s .2s ease-in-out;
  transition: -webkit-transform .2s .2s ease-in-out;
  -o-transition: transform .2s .2s ease-in-out;
  transition: transform .2s .2s ease-in-out;
  transition: transform .2s .2s ease-in-out, -webkit-transform .2s .2s ease-in-out; }

.hamburger-inner::before {
  top: -10px; }

.hamburger-inner::after {
  top: 10px; }

.hamburger--active .hamburger-inner {
  background-color: transparent; }

.hamburger--active .hamburger-inner:before {
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg); }

.hamburger--active .hamburger-inner:after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg); }

.navigation {
  margin-top: 70px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  -webkit-box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 5px -1px rgba(0, 0, 0, 0.5); }

.close-nav {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1; }

.close-nav--active {
  z-index: 98; }

.navigation-list {
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0; }

.nav-icona {
  color: #000000;
  position: absolute; }

.navigation-item {
  display: block;
  background: #ffffff;
  border: 3px solid #000000;
  cursor: pointer;
  text-align: left; }

.navigation-item:hover {
  background-color: #fe8800;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out; }
  .navigation-item:hover i, .navigation-item:hover .text-sm {
    color: #ffffff;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out; }

ul {
  padding: 0%;
  margin: 0%;
  list-style-type: none;
  display: block; }

.nav-profile {
  width: 54px;
  height: 54px;
  top: 5px;
  right: 15px;
  position: fixed;
  border: 3px solid #000000;
  background-color: #ffffff;
  cursor: pointer; }
  .nav-profile .fa-user {
    font-size: 34px;
    margin-top: 3px;
    color: #000000; }
  .nav-profile .text-s {
    margin-top: 2px; }

.nav-profile:hover {
  background-color: #fe8800;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out; }
  .nav-profile:hover .fa-user, .nav-profile:hover .text-s {
    color: white;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out; }

.nav-action {
  display: inline-block;
  border: 3px solid #000000;
  background-color: #ffffff;
  cursor: pointer; }
  .nav-action .fa-user, .nav-action .fa-user-plus, .nav-action .fa-info {
    color: #000000; }

.nav-action:hover {
  background-color: #fe8800;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out; }
  .nav-action:hover .text-s, .nav-action:hover .fa-user, .nav-action:hover .fa-user-plus, .nav-action:hover .fa-info {
    color: #ffffff;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out; }

.social {
  display: inline-block;
  border: 3px solid #000000;
  background-color: #ffffff;
  cursor: pointer; }
  .social .fa-youtube, .social .fa-facebook-f, .social .fa-twitter, .social .fa-instagram {
    color: #000000; }

.social:hover {
  background-color: #fe8800;
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out; }
  .social:hover .fa-youtube, .social:hover .fa-facebook-f, .social:hover .fa-twitter, .social:hover .fa-instagram {
    color: #ffffff;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out; }

@media only screen and (min-width: 301px) and (max-width: 350px) {
  .logo {
    width: 70vw;
    position: fixed;
    top: 20px;
    left: 80px; }
  .nav-search, .nav-profile {
    display: none; }
  .navigation {
    height: 100vh;
    width: 100vw;
    -webkit-transform: translateX(-110vw);
    -ms-transform: translateX(-110vw);
    transform: translateX(-110vw); }
  .navigation--active {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px); }
  .nav-icona {
    font-size: 10vw; }
    .nav-icona .fa-running {
      margin-left: 5.5vw; }
    .nav-icona .fa-shopping-cart {
      margin-left: 4vw; }
    .nav-icona .fa-newspaper {
      margin-left: 4vw; }
    .nav-icona .fa-hands-helping {
      margin-left: 4vw; }
  .navigation-item {
    margin: 1vw auto 1vw auto;
    width: 84vw;
    height: 12vw; }
  .text-sm {
    font-size: 9vw;
    margin: 0.5vw 0 0 20vw; }
  .nav-actions {
    margin: 5vw auto 4vw auto; }
  .nav-action {
    width: 25.7vw;
    height: 25.7vw;
    margin: 0.5vw; }
    .nav-action .fa-user, .nav-action .fa-user-plus, .nav-action .fa-info {
      font-size: 14vw;
      margin-top: 3vw; }
    .nav-action .text-s {
      font-size: 4vw;
      margin-top: 2vw; }
  .socialmedia {
    margin: 4vw auto 5vw auto; }
  .social {
    width: 18.3vw;
    height: 18.3vw;
    margin: 0.5vw; }
    .social .fa-youtube, .social .fa-facebook-f, .social .fa-twitter, .social .fa-instagram {
      font-size: 12vw;
      margin-top: 3.5vw; } }

@media only screen and (min-width: 351px) and (max-width: 400px) {
  .logo {
    left: 90px; }
  .nav-search, .nav-profile {
    display: none; }
  .navigation {
    height: 119vw;
    width: 80vw;
    -webkit-transform: translateX(-90vw);
    -ms-transform: translateX(-90vw);
    transform: translateX(-90vw); }
  .navigation--active {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px); }
  .nav-icona {
    font-size: 9vw; }
    .nav-icona .fa-running {
      margin-left: 4.5vw; }
    .nav-icona .fa-shopping-cart {
      margin-left: 3vw; }
    .nav-icona .fa-newspaper {
      margin-left: 3vw; }
    .nav-icona .fa-hands-helping {
      margin-left: 3vw; }
  .navigation-item {
    margin: 1vw auto 1vw auto;
    width: 64vw;
    height: 12vw; }
  .text-sm {
    font-size: 7vw;
    margin: 1.5vw 0 0 20vw; }
  .nav-actions {
    margin: 5vw auto 4vw auto; }
  .nav-action {
    width: 19.4vw;
    height: 19.4vw;
    margin: 0.5vw; }
    .nav-action .fa-user, .nav-action .fa-user-plus, .nav-action .fa-info {
      font-size: 10vw;
      margin-top: 2.5vw; }
    .nav-action .text-s {
      margin-top: 2vw;
      font-size: 3vw; }
  .socialmedia {
    margin: 4vw auto 5vw auto; }
  .social {
    width: 13.5vw;
    height: 13.5vw;
    margin: 0.5vw; }
    .social .fa-youtube, .social .fa-facebook-f, .social .fa-twitter, .social .fa-instagram {
      font-size: 9vw;
      margin-top: 2.5vw; } }

@media only screen and (min-width: 401px) {
  .navigation {
    height: 440px;
    width: 300px;
    -webkit-transform: translateX(-310px);
    -ms-transform: translateX(-310px);
    transform: translateX(-310px); }
  .navigation--active {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px); }
  .nav-icona {
    font-size: 30px; }
    .nav-icona .fa-running {
      margin-left: 17px; }
    .nav-icona .fa-shopping-cart {
      margin-left: 10px; }
    .nav-icona .fa-newspaper {
      margin-left: 10px; }
    .nav-icona .fa-hands-helping {
      margin-left: 10px; }
  .navigation-item {
    margin: 5px auto 5px auto;
    width: 270px;
    height: 40px; }
  .text-sm {
    font-size: 30px;
    margin: 0 0 0 70px; }
  .nav-actions {
    margin: 15px auto 12px auto; }
  .nav-action {
    width: 80px;
    height: 80px;
    margin: 3px; }
    .nav-action .fa-user, .nav-action .fa-user-plus, .nav-action .fa-info {
      font-size: 44px;
      margin-top: 6px; }
    .nav-action .text-s {
      margin-top: 6px;
      font-size: 14px; }
  .socialmedia {
    margin: 12px auto 15px auto; }
  .social {
    width: 56px;
    height: 56px;
    margin: 3px; }
    .social .fa-youtube, .social .fa-facebook-f, .social .fa-twitter, .social .fa-instagram {
      font-size: 35px;
      margin-top: 10px; } }

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .logo {
    left: 95px; }
  .nav-search, .nav-profile {
    display: none; } }

@media only screen and (min-width: 961px) {
  .logo {
    left: 100px; } }

@media only screen and (min-height: 251px) and (max-height: 509px) {
  .logo {
    width: 37vh;
    top: 4.9vh;
    left: 20vh; }
  .nav-search, .nav-profile {
    display: none; }
  .margin-nav {
    height: 14vh; }
  .nav-background {
    height: 14vh; }
  .hamburger {
    margin-left: 3.1vh;
    margin-top: 3.1vh; }
  .hamburger-box {
    width: 8vh;
    height: 7.8vh; }
  .hamburger-inner::before {
    top: -2vh; }
  .hamburger-inner::after {
    top: 2vh; }
  .hamburger--active .hamburger-inner:before {
    -webkit-transform: translateY(2vh) rotate(45deg);
    -ms-transform: translateY(2vh) rotate(45deg);
    transform: translateY(2vh) rotate(45deg); }
  .hamburger--active .hamburger-inner:after {
    -webkit-transform: translateY(-2vh) rotate(-45deg);
    -ms-transform: translateY(-2vh) rotate(-45deg);
    transform: translateY(-2vh) rotate(-45deg); }
  .navigation {
    height: 86vh;
    width: 300px;
    margin-top: 14vh;
    -webkit-transform: translateX(-310px);
    -ms-transform: translateX(-310px);
    transform: translateX(-310px); }
  .navigation--active {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px); }
  .nav-icona {
    font-size: 7vh; }
    .nav-icona .fa-running {
      margin-left: 7.5vh; }
    .nav-icona .fa-shopping-cart {
      margin-left: 6vh; }
    .nav-icona .fa-newspaper {
      margin-left: 6vh; }
    .nav-icona .fa-hands-helping {
      margin-left: 6vh; }
  .navigation-item {
    margin: 0.5vh auto 0.5vh auto;
    width: 270px;
    height: 9vh; }
  .text-sm {
    font-size: 5vh;
    margin: 1.4vh 0 0 20vh; }
  .nav-actions {
    margin: 1vh auto 1vh auto; }
  .nav-action {
    width: 81px;
    height: 18vh;
    margin: 0.5vh; }
    .nav-action .fa-user, .nav-action .fa-user-plus, .nav-action .fa-info {
      font-size: 10vh;
      margin-top: 2vh; }
    .nav-action .text-s {
      margin-top: 1vh;
      font-size: 2.8vh; }
  .socialmedia {
    margin: 1vh auto 1vh auto; }
  .social {
    width: 58px;
    height: 11.2vh;
    margin: 0.5vh; }
    .social .fa-youtube, .social .fa-facebook-f, .social .fa-twitter, .social .fa-instagram {
      font-size: 6.5vh;
      margin-top: 2.4vh; } }

.footer-background {
  width: 100%;
  height: 70px;
  background-color: #eeeeee; }

@media only screen and (min-width: 301px) and (max-width: 400px) {
  .footer-three {
    width: 100%;
    height: 20px;
    display: block; } }

@media only screen and (min-width: 401px) and (max-width: 625px) {
  .footer-three {
    width: 100%;
    height: 20px;
    display: block; } }

@media only screen and (min-width: 626px) and (max-width: 960px) {
  .footer-three {
    height: 55px;
    margin-top: 15px;
    width: 30vw;
    display: inline-block; } }

@media only screen and (min-width: 961px) and (max-width: 1440px) {
  .footer-three {
    height: 55px;
    margin-top: 15px;
    width: 30vw;
    display: inline-block; } }

@media only screen and (min-width: 1441px) {
  .footer-three {
    height: 55px;
    margin-top: 0;
    width: 30vw;
    display: inline-block; } }

.slider {
  width: 100%; }

header > .slider {
  margin-bottom: -4px; }

.button-s, .button-m, .button-l {
  border: 3px solid #fea600;
  background-color: #ffffff;
  color: #fea600;
  cursor: pointer;
  display: inline-block; }

.button-s:hover, .button-m:hover, .button-l:hover {
  background-color: #fea600;
  color: #ffffff;
  -webkit-transition: color .3s ease-in-out, background-color .3s ease-in-out;
  -o-transition: color .3s ease-in-out, background-color .3s ease-in-out;
  transition: color .3s ease-in-out, background-color .3s ease-in-out; }

@media only screen and (min-width: 301px) and (max-width: 400px) {
  .button-s {
    width: 22vw;
    height: 5.5vw;
    font-size: 2.2vw; }
  .button-m {
    width: 28vw;
    height: 6.5vw;
    font-size: 2.8vw; }
  .button-l {
    width: 32vw;
    height: 7.5vw;
    font-size: 3.8vw; } }

@media only screen and (min-width: 401px) and (max-width: 625px) {
  .button-s {
    width: 18vw;
    height: 4vw;
    font-size: 1.8vw; }
  .button-m {
    width: 24vw;
    height: 5.5vw;
    font-size: 2.6vw; }
  .button-l {
    width: 28vw;
    height: 6.5vw;
    font-size: 3.6vw; } }

@media only screen and (min-width: 626px) and (max-width: 960px) {
  .button-s {
    width: 17vw;
    height: 3.8vw;
    font-size: 1.8vw; }
  .button-m {
    width: 22vw;
    height: 5vw;
    font-size: 2.6vw; }
  .button-l {
    width: 26vw;
    height: 6vw;
    font-size: 3vw; } }

@media only screen and (min-width: 961px) and (max-width: 1440px) {
  .button-s {
    width: 14vw;
    height: 3vw;
    font-size: 1.5vw; }
  .button-m {
    width: 20vw;
    height: 4vw;
    font-size: 2vw; }
  .button-l {
    width: 24vw;
    height: 5.5vw;
    font-size: 2.8vw; } }

@media only screen and (min-width: 1441px) {
  .button-s {
    width: 12vw;
    height: 2.6vw;
    font-size: 1.3vw; }
  .button-m {
    width: 18vw;
    height: 3.6vw;
    font-size: 1.8vw; }
  .button-l {
    width: 22vw;
    height: 5vw;
    font-size: 2.6vw; } }

.hero, .hero2 {
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.hero {
  background-image: -webkit-linear-gradient(45deg, #fea600 0%, #fe0000 100%);
  background-image: -o-linear-gradient(45deg, #fea600 0%, #fe0000 100%);
  background-image: linear-gradient(45deg, #fea600 0%, #fe0000 100%); }

.hero2 {
  background-image: -webkit-linear-gradient(45deg, #fea600 0%, #fe0000 100%);
  background-image: -o-linear-gradient(45deg, #fea600 0%, #fe0000 100%);
  background-image: linear-gradient(45deg, #fea600 0%, #fe0000 100%); }

.hero::before, .hero2::before {
  content: '';
  position: absolute;
  background: #ffffff;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 25vw;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
  clip-path: polygon(100% 0, 0 100%, 100% 100%); }

@media only screen and (min-width: 301px) and (max-width: 400px) {
  .hero {
    height: 100vw; }
  .text-xl {
    margin-top: 2.5vw;
    font-size: 18vw;
    line-height: 26vw; }
  .hero2 {
    height: 80vw; }
  .text-xxl {
    margin-top: 23vw;
    font-size: 18vw; } }

@media only screen and (min-width: 401px) and (max-width: 625px) {
  .hero {
    height: 95vw; }
  .text-xl {
    margin-top: 2.2vw;
    font-size: 16vw;
    line-height: 24vw; }
  .hero2 {
    height: 75vw; }
  .text-xxl {
    margin-top: 20vw;
    font-size: 16vw; } }

@media only screen and (min-width: 626px) and (max-width: 960px) {
  .hero {
    height: 80vw; }
  .text-xl {
    margin-top: 1.5vw;
    font-size: 14vw;
    line-height: 20vw; }
  .hero2 {
    height: 60vw; }
  .text-xxl {
    margin-top: 15vw;
    font-size: 12vw; } }

@media only screen and (min-width: 961px) and (max-width: 1440px) {
  .hero {
    height: 75vw; }
  .text-xl {
    margin-top: 1vw;
    font-size: 12vw;
    line-height: 19vw; }
  .hero2 {
    height: 40vw; }
  .text-xxl {
    margin-top: 6vw;
    font-size: 10vw; } }

@media only screen and (min-width: 1441px) {
  .hero {
    height: 65vw; }
  .text-xl {
    margin-top: 0.8vw;
    font-size: 10vw;
    line-height: 17vw; }
  .hero2 {
    height: 35vw; }
  .text-xxl {
    margin-top: 1.5vw;
    font-size: 9vw; } }

#scrollup {
  text-decoration: none;
  background-color: #fea600;
  position: fixed;
  outline: none;
  z-index: 97;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5); }

.is-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.un-visible {
  display: none; }

.fa-angle-up {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

html {
  scroll-behavior: smooth; }

@media only screen and (min-width: 301px) and (max-width: 400px) {
  #scrollup {
    width: 12vw;
    height: 12vw;
    right: 3vw;
    bottom: 3vw; }
  .fa-angle-up {
    font-size: 12vw;
    padding-bottom: 3vw; } }

@media only screen and (min-width: 401px) and (max-width: 625px) {
  #scrollup {
    width: 10vw;
    height: 10vw;
    right: 2.5vw;
    bottom: 2.5vw; }
  .fa-angle-up {
    font-size: 10vw;
    padding-bottom: 3vw; } }

@media only screen and (min-width: 626px) and (max-width: 960px) {
  #scrollup {
    width: 6vw;
    height: 6vw;
    right: 2vw;
    bottom: 2vw; }
  .fa-angle-up {
    font-size: 6vw;
    padding-bottom: 1.5vw; } }

@media only screen and (min-width: 961px) and (max-width: 1440px) {
  #scrollup {
    width: 4vw;
    height: 4vw;
    right: 1.5vw;
    bottom: 1.5vw; }
  .fa-angle-up {
    font-size: 4vw;
    padding-bottom: 1vw; } }

@media only screen and (min-width: 1441px) {
  #scrollup {
    width: 3vw;
    height: 3vw;
    right: 1vw;
    bottom: 1vw; }
  .fa-angle-up {
    font-size: 3vw;
    padding-bottom: 0.75vw; } }

.race-img {
  width: 100%; }

@media only screen and (min-width: 301px) and (max-width: 400px) {
  .race-section {
    width: 92%;
    height: 50vw;
    margin-left: 4%; }
  .race-half-section {
    width: 100%; }
  .race-halfs-section {
    display: block; }
  .one-three {
    display: inline-block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 30%; }
  #rac-1 {
    margin-left: 5%; }
  #race-1 {
    height: 100%; }
  #race-2 {
    display: none; }
  #races-1 {
    height: 70%;
    padding-top: 4vw; }
  #races-2 {
    height: 30%; } }

@media only screen and (min-width: 401px) and (max-width: 625px) {
  .race-section {
    width: 88%;
    height: 40vw;
    margin-left: 6%; }
  .race-half-section {
    width: 100%; }
  .race-halfs-section {
    display: block;
    width: 100%; }
  .one-three {
    display: inline-block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 30%; }
  #rac-1 {
    margin-left: 5%; }
  #race-1 {
    height: 100%; }
  #race-2 {
    display: none; }
  #races-1 {
    height: 70%;
    padding-top: 4vw; }
  #races-2 {
    height: 30%; } }

@media only screen and (min-width: 626px) and (max-width: 960px) {
  .race-section {
    width: 84%;
    height: 35vw;
    margin-left: 8%; }
  .race-half-section {
    width: 100%; }
  .race-halfs-section {
    display: block;
    width: 100%; }
  .one-three {
    display: inline-block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 30%; }
  #rac-1 {
    margin-left: 5%; }
  #race-1 {
    height: 35vw; }
  #race-2 {
    display: none; }
  #races-1 {
    height: 70%;
    padding-top: 4vw; }
  #races-2 {
    height: 30%; } }

@media only screen and (min-width: 961px) and (max-width: 1440px) {
  .race-section {
    width: 100%;
    height: 27vw;
    padding-top: 3vw;
    padding-bottom: 3vw; }
  .race-half-section {
    margin: 0;
    width: 49.8%;
    height: 100%;
    display: inline-block; }
  .race-halfs-section {
    width: 100%;
    margin: 0;
    display: table; }
  .race-halfs-section > .button-s {
    margin-top: 1.0vw; }
  .one-three {
    display: inline-block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 33%; }
  #races-1 {
    height: 89%;
    width: 92%;
    margin: 0 4% 0 4%; }
  #races-2 {
    height: 11%;
    width: 92%;
    margin: 0 4% 0 4%; } }

@media only screen and (min-width: 1441px) {
  .race-section {
    width: 100%;
    height: 27vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw; }
  .race-half-section {
    margin: 0;
    width: 49.8%;
    height: 100%;
    display: inline-block; }
  .race-halfs-section {
    width: 100%;
    margin: 0;
    display: table; }
  .race-halfs-section > .button-s {
    margin-top: 1.0vw; }
  .one-three {
    display: inline-block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 33%; }
  #races-1 {
    height: 89%;
    width: 92%;
    margin: 0 4% 0 4%; }
  #races-2 {
    height: 11%;
    width: 92%;
    margin: 0 4% 0 4%; } }

.grid {
  position: absolute;
  width: 20vw;
  height: 20vw;
  z-index: 100; }

#grid1 {
  top: 110vw;
  right: -8vw;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  clip: rect(auto, 8vw, auto, auto); }

#grid2 {
  top: 205vw;
  left: -7vw;
  -webkit-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg); }

.input {
  border: 3px solid #000000;
  background-color: #ffffff;
  color: #000000;
  cursor: text;
  outline: none;
  padding: 0 10px 0 10px; }

.input:hover, .input:active, .input:focus {
  border: 3px solid #fea600;
  -webkit-transition: border .3s ease-in-out;
  -o-transition: border .3s ease-in-out;
  transition: border .3s ease-in-out; }

@media only screen and (min-width: 301px) and (max-width: 400px) {
  .input {
    width: 80vw;
    height: 12vw;
    font-size: 6.5vw; } }

@media only screen and (min-width: 401px) and (max-width: 625px) {
  .input {
    width: 45vw;
    height: 7vw;
    font-size: 3.4vw; } }

@media only screen and (min-width: 626px) and (max-width: 960px) {
  .input {
    width: 36vw;
    height: 6vw;
    font-size: 2.8vw; } }

@media only screen and (min-width: 961px) and (max-width: 1440px) {
  .input {
    width: 20vw;
    height: 4vw;
    font-size: 2vw; } }

@media only screen and (min-width: 1441px) {
  .input {
    width: 18vw;
    height: 3.6vw;
    font-size: 1.5vw; } }

a {
  color: #000000;
  text-decoration: none; }

.enrollment-slider {
  width: 100%; }

header > .enrollment-slide {
  margin-bottom: -4px; }

.enrollment-img {
  width: 100%; }

.enrollment-container {
  border: 3px solid #000000; }

#enrollment-halfs-2 {
  background-color: #000000;
  -webkit-box-align: right;
  -ms-flex-align: right;
  align-items: right; }

@media only screen and (min-width: 301px) and (max-width: 400px) {
  .enrollment-container {
    width: 96vw;
    height: 40vw;
    margin: 0 1vw 0 1vw; }
  .enrollment-halfs {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 5% 0 5%; }
  .enrollment-half {
    width: 100%;
    height: 49.8%; }
  #enrollment-halfs-2 {
    display: none; }
  #enrollment-half-1 {
    height: 70%; }
  #enrollment-half-2 {
    height: 30%; } }

@media only screen and (min-width: 401px) and (max-width: 625px) {
  .enrollment-container {
    width: 88vw;
    height: 30vw;
    margin: 0 6vw 0 6vw; }
  .enrollment-halfs {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 5% 0 5%; }
  .enrollment-half {
    width: 100%;
    height: 49.8%; }
  #enrollment-halfs-2 {
    display: none; }
  #enrollment-half-1 {
    height: 70%; }
  #enrollment-half-2 {
    height: 30%; } }

@media only screen and (min-width: 626px) and (max-width: 960px) {
  .enrollment-container {
    width: 94vw;
    height: 25.75vw;
    margin: 0 3vw 0 3vw; }
  .enrollment-halfs {
    width: 49.7%;
    height: 100%;
    display: inline-block;
    margin: 0; }
  .enrollment-half {
    width: 100%;
    height: 50%;
    margin: 0;
    display: table; }
  #enrollment-half-1 {
    margin-right: 0;
    height: 80%; }
  #enrollment-half-2 {
    height: 20%; } }

@media only screen and (min-width: 961px) and (max-width: 1440px) {
  .enrollment-container {
    width: 94vw;
    height: 25.75vw;
    margin: 0 3vw 0 3vw; }
  .enrollment-halfs {
    width: 49.7%;
    height: 100%;
    display: inline-block;
    margin: 0; }
  .enrollment-half {
    width: 100%;
    height: 50%;
    margin: 0;
    display: table; }
  #enrollment-halfs-1 {
    margin-right: 0; }
  #enrollment-half-1 {
    height: 80%; }
  #enrollment-half-2 {
    height: 20%; } }

@media only screen and (min-width: 1441px) {
  .enrollment-container {
    width: 90vw;
    height: 24.58vw;
    margin: 0 5vw 0 5vw; }
  .enrollment-halfs {
    width: 49.8%;
    height: 100%;
    display: inline-block;
    margin: 0; }
  .enrollment-half {
    width: 100%;
    height: 50%;
    margin: 0;
    display: table; }
  #enrollment-halfs-2 {
    margin-right: 0; }
  #enrollment-half-1 {
    height: 80%; }
  #enrollment-half-2 {
    height: 20%; } }
